.carousel-item img{
    width:100%;
     height:500px;
  
 }
 body{
     background-color: darkgrey;
 }
 h2{
     font-stretch: narrower;
 }
 .choice{
     padding-left: 150px;
     padding-right: 150;
     padding-bottom: 100px;
     padding-top:50px ;
    background-color: gray;

 }
  .choice i:hover{
      color: darkred;
  }
 h1{
     text-align: center;
     color: black;
 }
 .info{
     padding-left: 100px;
     padding-right:150px;
     padding-top: 75px;
     padding-bottom: 30px;
 }
 .table{
     padding-top: 50px;
     padding-left:500px;
     padding-right: 200px;
     padding-bottom:100px;
     width: 50%;
 }